.v-me {
  position: relative;
  min-width: 480 + 320 + 16px;

  .tab-settings {
    margin: 16px 16px 0 16px;
    padding: 16px;
    background: @white;

    h2 {
      margin: 0 0 32px;
      padding: 8px 0;
      border-bottom: @teal500 4px solid;
      font-size: 24px;
    }

    .tabs {
      margin: 16px 0 0;
      font-size: 0;

      .tab {
        margin: 0 0 16px;

        .title, .stars, .words {
          display: inline-block;
          height: 32px;
          margin: 0 16px 0 0;
          padding: 0 8px;
          font-size: 16px;
          line-height: 32px;
        }
        .title {

        }
        .words {
          .word {
            display: inline-block;
            height: 24px;
            margin: 0 8px 4px 0;
            padding: 0 8px;
            background: @teal500;
            color: @white;
            font-size: 14px;
            text-shadow: rgba(0, 0, 0, .5) 0 0 4px;
            line-height: 24px;
          }
        }
        /* .tags {
          display: inline-block;
          min-width: 256px;
          height: 32px;
          font-size: 16px;
          vertical-align: top;

          input { font-size: 16px; }
          .host { margin: 0; }
          .tag-item {
            height: 20px;
            margin: 4px;
            background: @teal500;
            border: none;
            color: @white;
            text-shadow: rgba(0, 0, 0, .5) 0 0 4px;
            line-height: 20px;

            .remove-button {
              color: @white;
            }
          }
        } */
      }
    }


  }


}
