<section class="v-me">
  <section class="journal-settings">
    <h2 class="head">タブの設定</h2>
    <div class="desc">タブは全部で10個まで設定できます。</div>

    <ul class="journals">
      <li class="journal" ng-repeat="journal in journals">
        <input type="text" class="title" ng-model="journal.title" maxlength="32" placeholder="タイトル">
        <input type="number" class="stars" ng-model="journal.stars" min="1" max="9999" placeholder="star数">以上
        <div class="words">
          <span class="word" ng-repeat="word in journal.words">
            {{word}}<span class="remove" ng-click=""><i class="fa fa-times"></i></span>
          </span>
          <input type="text" class="new" maxlength="32" placeholder="新しいワードを追加...">
        </div>
      </li>
    </ul>
  </section>
</section>
