<section class="v-show">
  <ul class="entries" id="entries">
    <!-- <h1>記事</h1> -->

    <li class="entry" ng-repeat="e in entries">
      <h2 class="title"><a ng-href="{{e.url}}" target="_blank">{{e.title}}</a></h2>
      <div class="meta">
        <img class="thumb" ng-src="{{e.thumbUrl}}"></img>
        <span class="description">{{e.description}}</span>
      </div>
      <span class="stars"><strong>{{e.stars}}</strong> stars</span>
      <ul class="tags">
        <li class="date">{{e.date | tinydate}}</li>
        <li class="tag" ng-repeat="t in e.tags">{{t}}</li>
      </ul>
    </li>

    <li class="empty" ng-if="!entries || entries.length === 0">記事が見つかりません</li>
  </ul>

  <ul class="events">
    <li class="event" ng-repeat="v in events">
      <div class="datetime">
        <!-- <span class="year">2014</span> -->
        <span class="date">{{v.date}}</span>
        <span class="time">20:00〜</span>
      </div>
      <h2 class="title">{{v.title}}</h2>
      <div class="participants">
        現在の参加者 : <span class="now">{{v.nowParticipants}}</span>
        <span class="max">/{{v.maxParticipants}}</span>
      </div>
      <div class="venue">{{v.venue}}</div>
    </li>
  </ul>
</section>
