<!DOCTYPE html>
<html lang="ja" ng-app="kimihate">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bundle.css">
  <script src="/javascripts/bundle.js"></script>
</head>
<body ng-controller="globalController">
  <section class="global-header">
    <h1 class="title"><%= title %></h1>

    <a class="signin" ng-if="!me" href="/auth/signin">Twitterで登録/ログイン</a>

    <div class="user" ng-if="me" ng-click="go('me')">
      <img class="image" ng-src="{{me.thumbUrl}}">
      <span class="name">@{{me.username}}</span>
    </div>
  </section>

  <section class="global-subheader">
    <ul class="tabs">
      <li class="tab" ng-repeat="j in me.journals" ng-click="go('show', { id: tab.id })">{{tab.title}}</li>
      <li class="edit"><i class="fa fa-cog"></i></li>
    </ul>
  </section>

  <section class="global-content" ui-view></section>
</body>
</html>
